<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headEdit.ejs') %>
    <title>Edit Armor</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container">
        <h1>Edit Armor</h1>
        <form action="/armor/<%=armor._id%>?_method=PUT" method="POST">
            <input type="text" name="name" value=<%=armor.name%> placeholder="Name">
            <input type="submit" value="Edit Armor">
        </form>
    </div>
    <%- include('partials/scriptEdit.ejs') %>
</body>
</html>