<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armor Information</title>
</head>
<body>
    <div class="container" >
        <h3><%=armor.name%></h3>
            <p><%=armor.school%></p>
            <p><%=armor.level%></p>
            <p><%=armor.time%></p>
            <a href="/armor/<%=armor.id%>/edit">
                <button class="edit">Edit</button>
            </a>
            <form action="/armor/<%=armor.id%>?_method=DELETE" method="POST">
                <input class="delete" type="submit" value="Delete">
            </form>
    </div>
</body>
</html>