<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Armor Information</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container" >
        <h1><%=armor.name%></h1>
            <p><%=armor.school%></p>
            <p><%=armor.level%></p>
            <p><%=armor.time%></p>
            <a href="/armor/<%=armor.id%>/edit">
                <button class="edit">Edit</button>
            </a>
            <form action="/armor/<%=armor.id%>?_method=DELETE" method="POST">
                <input class="delete" type="submit" value="Delete">
            </form>
    </div>
    <%- include('partials/script.ejs') %>
</body>
</html>