<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Background Information</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container" >
        <h1><%=backgrounds.name%></h1>
            <p><%=backgrounds.school%></p>
            <p><%=backgrounds.level%></p>
            <p><%=backgrounds.time%></p>
            <a href="/backgrounds/<%=backgrounds.id%>/edit">
                <button class="edit">Edit</button>
            </a>
            <form action="/armor/<%=backgrounds.id%>?_method=DELETE" method="POST">
                <input class="delete" type="submit" value="Delete">
            </form>
    </div>
    <%- include('partials/script.ejs') %>
</body>
</html>