<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Class Information</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container" >
        <h1><%=classes.name%></h1>
            <p><%=classes.school%></p>
            <p><%=classes.level%></p>
            <p><%=classes.time%></p>
            <a href="/classes/<%=classes.id%>/edit">
                <button class="edit">Edit</button>
            </a>
            <form action="/classes/<%=classes.id%>?_method=DELETE" method="POST">
                <input class="delete" type="submit" value="Delete">
            </form>
    </div>
    <%- include('partials/script.ejs') %>
</body>
</html>