<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headEdit.ejs') %>
    <title>Edit Class</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="container">
        <h1>Edit Class</h1>
        <form action="/classes/<%=classes._id%>?_method=PUT" method="POST">
            <input type="text" name="name" value=<%=classes.name%> placeholder="Name">
            <input type="submit" value="Edit Class">
        </form>
    </div>
    <%- include('partials/scriptEdit.ejs') %>
</body>
</html>