<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Homebrew Classes</title>
  </head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="grid-container">
        <div class="grid-x grid-margin-x small-up-2 medium-up-3">
            <% for(let i = 0; i < classes.length; i++) { %>
          <div class="cell">
            <div class="card">
              <div class="card-section">
              <h4>
                <a href="/classes/<%=classes[i]._id%>"><%=classes[i].name%></a>
            </h4>
              </div>
            </div>
          </div>
          <% } %>
    </div>
    <a href="/classes/new"><button class="add">Add Class</button></a>
    <%- include('partials/script') %>
  </body>
</html>