<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Feats Information</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container" >
        <h1><%=feats.name%></h1>
            <p><%=feats.school%></p>
            <p><%=feats.level%></p>
            <p><%=feats.time%></p>
            <a href="/feats/<%=feats.id%>/edit">
                <button class="edit">Edit</button>
            </a>
            <form action="/armor/<%=feats.id%>?_method=DELETE" method="POST">
                <input class="delete" type="submit" value="Delete">
            </form>
    </div>
    <%- include('partials/script.ejs') %>
</body>
</html>