<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headEdit.ejs') %>
    <title>Edit Feat</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container">
        <h1>Edit Feat</h1>
        <form action="/feats/<%=feat._id%>?_method=PUT" method="POST">
            <input type="text" name="name" value=<%=feat.name%> placeholder="Name">
            <input type="submit" value="Edit Feat">
        </form>
    </div>
    <%- include('partials/scriptEdit.ejs') %>
</body>
</html>