<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Feats Information</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container" >
        <h1><%=feat.name%></h1>
            <p><%=feat.school%></p>
            <p><%=feat.level%></p>
            <p><%=feat.time%></p>
            <a href="/feats/<%=feat.id%>/edit">
                <button class="edit">Edit</button>
            </a>
            <form action="/feats/<%=feat.id%>?_method=DELETE" method="POST">
                <input class="delete" type="submit" value="Delete">
            </form>
    </div>
    <%- include('partials/script.ejs') %>
</body>
</html>