<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Item Information</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container" >
        <h1><%=item.name%></h1>
            <p><%=item.school%></p>
            <p><%=item.level%></p>
            <p><%=item.time%></p>
            <a href="/items/<%=item.id%>/edit">
                <button class="edit">Edit</button>
            </a>
            <form action="/items/<%=item.id%>?_method=DELETE" method="POST">
                <input class="delete" type="submit" value="Delete">
            </form>
    </div>
    <%- include('partials/script.ejs') %>
</body>
</html>