<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Item Information</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container" >
        <h1><%=items.name%></h1>
            <p><%=items.school%></p>
            <p><%=items.level%></p>
            <p><%=items.time%></p>
            <a href="/items/<%=items.id%>/edit">
                <button class="edit">Edit</button>
            </a>
            <form action="/armor/<%=items.id%>?_method=DELETE" method="POST">
                <input class="delete" type="submit" value="Delete">
            </form>
    </div>
    <%- include('partials/script.ejs') %>
</body>
</html>