<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Race Information</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container" >
        <h1><%=race.name%></h1>
            <p><%=race.school%></p>
            <p><%=race.level%></p>
            <p><%=race.time%></p>
            <a href="/races/<%=race.id%>/edit">
                <button class="edit">Edit</button>
            </a>
            <form action="/races/<%=race.id%>?_method=DELETE" method="POST">
                <input class="delete" type="submit" value="Delete">
            </form>
    </div>
    <%- include('partials/script.ejs') %>
</body>
</html>