<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headEdit.ejs') %>
    <title>Edit Race</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container">
        <h1>Edit Race</h1>
        <form action="/races/<%=race._id%>?_method=PUT" method="POST">
            <input type="text" name="name" value=<%=race.name%> placeholder="Name">
            <input type="submit" value="Edit Race">
        </form>
    </div>
    <%- include('partials/scriptEdit.ejs') %>
</body>
</html>