<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>New Spell</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="grid-container">
        <h1><%=spell.name%></h1><hr>
            <div class="grid-x align-right">
                <div class="cell small-1 medium-1 large-1">
                    <a href="/spells/<%=spell.id%>/edit">
                        <button class="button">Edit</button>
                    </a>
                </div>
            <div class="cell small-1 medium-1 large-1">
                <form action="/spells/<%=spell.id%>?_method=DELETE" method="POST">
                    <button class="button" type="submit" value="Delete">Delete</button>
                </form>
            </div>
            </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Level:</strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Casting Time:</strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Range:</strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Area of Effect:</strong></p> 
                    </div>

                    <div class="cell small-3 medium-3 large-3">
                        <p><strong><%=spell.level%></strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong><%=spell.castingType%> <%=spell.castingTime%></strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong><%=spell.angeType%> <%=spell.ange%></strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong><%=spell.aoeType%> <%=spell.aoeSize%></strong></p> 
                    </div>

                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Duration:</strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>School of Magic:</strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Components:</strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Ritual:</strong></p> 
                    </div>

                    <div class="cell small-3 medium-3 large-3">
                        <p><strong><%=spell.durationType%>: <%=spell.duration%> <%=spell.length%></strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong><%=spell.school%></strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong><%=spell.components%></strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong><%=spell.ritual%></strong></p> 
                    </div>
                    
                </div>
            </div>
        <%- include('partials/script.ejs') %>
    </body>
</html>