<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>New Spell</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="grid-container">
        <div class="grid-x align-center small-up-2 medium-up-3">
        </div>
          <div class="cell">
            <div class="card">
              <div class="card-section">
              <h3>
                <h1><%=spell.name%></h1><hr>
                <a href="/spells/<%=spell.id%>/edit">
                    <button class="button">Edit</button>
                </a>
                <form action="/spells/<%=spell.id%>?_method=DELETE" method="POST">
                    <button class="button" type="submit" value="Delete">Delete</button>
                </form>
                <p><%=spell.school%></p>
                <p><%=spell.level%></p>
                <p><%=spell.time%></p>
                <p><%=spell.castingType%></p>
            </h3>
              </div>
            </div>
          </div>
        </div>
                   
                    
                
            </div>
         </div>
        <%- include('partials/script.ejs') %>
    </body>
</html>