<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>New Spell</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="grid-container">
        <h1><%=spell.name%></h1><hr>
            <div class="grid-x align-right">
                <div class="cell small-1 medium-1 large-1">
                    <a href="/spells/<%=spell.id%>/edit">
                        <button class="button">Edit</button>
                    </a>
                </div>
            <div class="cell small-1 medium-1 large-1">
                <form action="/spells/<%=spell.id%>?_method=DELETE" method="POST">
                    <button class="button" type="submit" value="Delete">Delete</button>
                </form>
            </div>
            </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Level:</strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Casting Time:</strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Range:</strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Area of Effect:</strong></p> 
                    </div>

                    <div class="cell small-3 medium-3 large-3">
                        <p><strong><%=spell.level%></strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><%=spell.castingTime%> <%=spell.castingType%></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><%=spell.rangeType%> <%=spell.range%></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><%=spell.aoeType%> <%=spell.aoeSize%></p> 
                    </div>

                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Duration:</strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>School of Magic:</strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Components:</strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Ritual:</strong></p> 
                    </div>

                    <div class="cell small-3 medium-3 large-3">
                        <p><%=spell.durationType%>: <%=spell.duration%> <%=spell.length%></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><%=spell.school%></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><%=spell.components%></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><%=spell.ritual%></p> 
                    </div>

                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Dice Roll:</strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Saving Throw:</strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong>Higher Level Scaling:</strong></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><strong></strong></p> 
                    </div>

                    <div class="cell small-3 medium-3 large-3">
                        <p><%=spell.diceCount%><%=spell.roll%></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><%=spell.saveThrow%></p> 
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <p><%=spell.scalingType%></p> 
                    </div>
                </div>
            </div>
            <div class="grid-container">
                <h3><%=spell.description%></h3><hr>
        <%- include('partials/script.ejs') %>
    </body>
</html>