<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Homebrew Spells</title>
  </head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="grid-container">
        <div class="grid-x align-center small-up-2 medium-up-3">
          <h1 class="h1Text">Homebrew Spells</h1>
        </div>
        <div class="grid-x grid-margin-x small-up-2 medium-up-3">
            <% for(let i = 0; i < spell.length; i++) { %>
          <div class="cell">
            <div class="card">
              <div class="card-section">
              <h4>
                <a href="/spells/<%=spell[i]._id%>"><%=spell[i].name%></a>
            </h4>
              <p>Level: <%=spell[i].level%></p>
              <p>Description: <%=spell[i].description%></p>
              <% for(let j = 0; j < spell[i].classes.length; i++) {%>
                <p>Classes: <%=spell[i].classes[j]%></p>
             <% } %>
              </div>
            </div>
          </div>
          <% } %>
    </div>
    <a href="/spells/new"><button class="button">Add Homebrew Spell</button></a>
    <%- include('partials/script') %>
  </body>
</html>