<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Sub-Class Information</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container" >
        <h1><%=subclasses.name%></h1>
            <p><%=subclasses.school%></p>
            <p><%=subclasses.level%></p>
            <p><%=subclasses.time%></p>
            <a href="/subclasses/<%=subclasses.id%>/edit">
                <button class="edit">Edit</button>
            </a>
            <form action="/armor/<%=subclasses.id%>?_method=DELETE" method="POST">
                <input class="delete" type="submit" value="Delete">
            </form>
    </div>
    <%- include('partials/script.ejs') %>
</body>
</html>